html {
	font-size: 10px;
}

body {
	background-color: #000;
	font-family: "Myriad Pro";
	font-size: 1.4em;
}

#svgcanvas {
	background-color: #000;
	width: 0px;
	height: 0px;
	margin: 0 auto;
}

#debugWrapper {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 100%;
	background: #333;
	color: #ccc;
	padding: 1em;
}

#menu {
  position: absolute;
  width: 12em;
}

#menu a {
  background-color: #333;
  border-radius: .25em;
  border: 2px solid #666;
  color: #ccc;
  display: block;
  font-weight: bold;
  letter-spacing: .1em;
  margin: .5em;
  padding: .6em .5em .3em .5em;
  text-align: center;
  text-decoration: none;
}

#feedback {
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
}

.modal {
  background: rgba(0,0,0,.7);
}

#message {
	background-color: #fff;
	border-radius: 20px;
	border: 5px solid gray;
	color: #333;
	display: table;
	margin: 0 auto 0 auto;
	padding: 1em;
	position: relative;
	text-align: center;
	top: 30%;
}

#message h1 {
  font-size: 1.5em;
  margin: 0;
}

#message p {
  margin: 0;
}

#message form textarea {
  color: #999;
  width: 100%;
}

#buttonImportCancel {
	margin-right: 1em;
}

#buttonImportSubmit {
	margin-left: 1em;
}

#message.ok {
  border-color: green;
}

#message.error {
  border-color: red;
}

#message.form {
  border-color: gray;
}

